:root{
    --colourlight: #e3f2fd;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
}
/* NAVBAR */
nav{
    background: var(--colourlight);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo{
    padding: 0 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 50px;
}
#check{
    display: none;
}
.menu{
    display: none;
}
.menu:hover{
    cursor: pointer;
}
.menubar{
    display: none;
}
nav ul{
    align-items: center;
    list-style: none;
    border: 2px solid black;
}
nav ul li{
    padding: 10px;
}
nav ul li a {
    text-decoration: none;
    font-size: larger;
    font-weight: 500;
    color: black;
}
.icons{
    display: flex;
    padding: 2%;
}
.icon{
    padding-right: 5%;
}
.icon:hover{
    transform: scale(1.2);
    transition: 0.4s;
}
.search_icon{
    display: none;
}
.search_icon:hover{
    transform: scale(1.5);
    transition: 0.5s;
}
/* ABOUT  */
.about {
    padding: 5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about img{
    height: 300px;
    padding: 5% 5%;
}
.about h1{
    color: green;
}
.about p{
    font-weight: bold;
}
.about a{
    text-decoration: none;
    color: green;
    font-weight: bold;
    padding: 10px 25px;
    border: 2px solid green;
    border-radius: 10px;
    background-color: var(--colourlight);
}
.about a:hover{
    color: white;
    background-color: green;
    border-color:var(--colourlight);
}
/* FEATURE */

.categories{
    display: grid;
    grid-template-columns: repeat(6,6fr);
}
.subhead{
    text-align: center;
}
.category img{
    height: 100px;
    width: 150px;
}
.category{
    padding: 10%;
}
.category:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.EPC a{
    text-decoration: none;
    color: green;
}
#productsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
#productsContainer > div{
    width: 300px;
    border: 3px solid gray;
    border-radius: 10px;
    align-items: center;
    padding: 1%;
}

/* FOOTER  */
.footer{
    display:flex;
    background-color: var(--colourlight);
}
.footer a{
    text-decoration: none;
    color: green;
    padding: 2%;
}

@media only screen and (max-width: 500px){
    .search_bar{
        display: none;
    }
    .search_icon{
        display: block;
    }
}

@media only screen and (max-width: 800px){
    .about{
        flex-direction: column-reverse;
    }
    #check{
        display: none;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .menu{
        display: block;
        padding-right: 2%;
    }
    .menubar{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 55px;
        width: 70%;
        height: 100vh;
        background-color: var(--colourlight);
        left: -100%;
        flex-direction: column;
        transition: all 0.5s ease-in-out;
        z-index: 1;
    }
    .icons{
        display: none;
    }
    .footer{
        flex-direction: column-reverse;
    }
}
